@model WebGallery.Models.PhotoViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Välkommen</h1>
    <p class="lead">En sen komplettering till bildgalleriet.</p>
    <p><a href="~/Album/Index" class="btn btn-primary btn-lg">Till Album &raquo;</a></p>
</div>

<div class="row">
    <h2></h2>
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        
    </div>
    <div class="col-md-4">
     
       
    </div>
    <div class="col-md-4">
       
      
    </div>
</div>