@model WebGallery.Models.PhotoViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Välkommen</h1>
    <p class="lead">En sen komplettering till bildgalleriet.</p>
    <p><a href="~/Album/Index" class="btn btn-primary btn-lg">Till Album &raquo;</a></p>
</div>

<div class="row">
    <h2>Senast tillagda</h2>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @if (Model != null)
            {
              
                    <h3 class="caption" id="ctr">@Model.Name</h3>
                    <img src="@Model.Url" alt="@Model.Name">
                
            }
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
      
    </div>
</div>