@model WebGallery.Models.AlbumViewModel
@{
    ViewBag.Title = "Index";
}
<h2>Albums</h2>
<div class="jumbotron">
    @{
    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "AlbumListDiv",
    };
}
@Html.Partial("Create")
</div>
<h1>Albums</h1>
<br />
<div id="AlbumListDiv">
    @{
        Html.RenderAction("List");
    }
</div>

