@model WebGallery.Models.AlbumViewModel
@{
    ViewBag.Title = "Index";
}

@{
    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "AlbumListDiv",
    };
}

@Html.Partial("Create")
<h2>Album</h2>
<div id="AlbumListDiv">
    @{
        Html.RenderAction("List");
    }
</div>
